body {
    background-color: yellow;
    font-family: sans-serif;
    font-size: 14pt;
}

#logo {
    text-align: center;
    padding-top: 100px;
}

#logo img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: solid 8px white;
}

h1 {
    text-align: center;
}

.links {
    text-align: center;
    margin: 10px;
}

.links a {
    font-size: 12pt;
    text-decoration: none;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border: solid 4px white;
    border-radius: 20px;
}

.links a img {
    height: 35px;
}

.links a:hover {
    /* font-size: 16pt; */
    color: black;
    background-color: white;
}